.cv-section.fixed
  .cv-section-name
    %h2 Sign in
  .cv-section-items
    = render :partial => 'form', :locals => {:resource_name => resource_name, :resource => resource}

= render :partial => 'shared/options'