/* line 4, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../../app/stylesheets/partials/_page.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 68, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 70, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 71, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 72, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 73, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 74, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 75, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 76, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 80, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 22, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 26, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 30, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 81, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 82, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 83, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 84, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 86, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 87, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 88, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 89, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 90, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 91, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 92, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 93, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 94, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 95, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 97, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 98, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 99, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 100, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 101, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 102, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 103, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 104, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 105, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 106, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1282040993');
}
/* line 4, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 42, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 45, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 48, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 50, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 52, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 54, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 25, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 27, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 139, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 29, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 139, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 33, ../../../app/stylesheets/partials/_two_col.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 139, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

/* line 1, ../../../app/stylesheets/partials/_skintastic.sass */
form {
  width: 100% !important;
}
/* line 157, ../../../app/stylesheets/partials/_formtastic_base.sass */
form ul, form ol, form legend, form p {
  margin: 0;
  padding: 0;
}
/* line 160, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 166, ../../../app/stylesheets/partials/_formtastic_base.sass */
form fieldset {
  display: block;
  *display: inline-block;
}
/* line 110, ../../../app/stylesheets/partials/_formtastic_base.sass */
form fieldset:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 170, ../../../app/stylesheets/partials/_formtastic_base.sass */
form abbr, form acronym {
  border: 0;
  font-variant: normal;
  font-weight: normal;
}
/* line 175, ../../../app/stylesheets/partials/_formtastic_base.sass */
form ol, form ul {
  list-style: none;
}
/* line 178, ../../../app/stylesheets/partials/_formtastic_base.sass */
form label {
  display: block;
  *display: inline-block;
}
/* line 110, ../../../app/stylesheets/partials/_formtastic_base.sass */
form label:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 182, ../../../app/stylesheets/partials/_formtastic_base.sass */
form input, form textarea {
  vertical-align: middle;
}
/* line 186, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .check_boxes input, form .radio input {
  margin: 0;
}
/* line 188, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .check_boxes label, form .radio label {
  cursor: pointer;
}
/* line 191, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .hidden {
  display: none;
}
/* line 195, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .date li, form .time li, form .datetime li {
  float: left;
  width: auto;
  clear: none;
}
/* line 199, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .date label, form .time label, form .datetime label {
  display: none;
  width: auto;
}
/* line 202, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .date input, form .time input, form .datetime input {
  display: inline;
  margin: 0;
}
/* line 206, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .errors {
  list-style: square;
}
/* line 208, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .errors li {
  padding: 0;
  border: none;
  display: list-item;
  float: none;
  clear: both;
}
/* line 214, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .inputs {
  z-index: 99;
}
/* line 217, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .buttons li {
  float: left;
}
/* line 220, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li {
  *display: inline-block;
  display: block;
}
/* line 110, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 223, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li fieldset {
  border: none;
  position: relative;
  margin-top: 0px;
}
/* line 227, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li legend {
  display: block;
  margin-bottom: 0;
}
/* line 230, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li .label {
  display: block;
  clear: both;
  background: transparent;
}
/* line 235, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li ol {
  float: left;
  margin: 0;
}
/* line 238, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li ol li {
  padding: 0;
  border: 0;
  display: inline;
}
/* line 250, ../../../app/stylesheets/partials/_formtastic_base.sass */
form fieldset {
  width: 100%;
}
/* line 252, ../../../app/stylesheets/partials/_formtastic_base.sass */
form ol {
  padding-left: 0;
}
/* line 254, ../../../app/stylesheets/partials/_formtastic_base.sass */
form input {
  clear: both;
  float: none;
}
/* line 257, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li {
  display: block;
  clear: both;
  float: none;
  width: 100%;
}
/* line 260, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li ol {
  padding: 0;
}
/* line 262, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li li {
  clear: none;
  width: auto;
}
/* line 266, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li fieldset legend, form li fieldset legend .label {
  display: block;
  clear: both;
}
/* line 269, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li fieldset .label {
  position: relative;
}
/* line 271, ../../../app/stylesheets/partials/_formtastic_base.sass */
form li fieldset label, form li fieldset input {
  width: auto;
}
/* line 274, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .date ol, form .time ol, form .datetime ol {
  width: 100%;
}
/* line 276, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .date li, form .time li, form .datetime li {
  display: inline;
  clear: none;
  float: left;
  padding-right: 0;
}
/* line 282, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .checkbox li, form .radio li {
  display: block;
}
/* line 284, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .checkbox input, form .radio input {
  border: none;
}
/* line 286, ../../../app/stylesheets/partials/_formtastic_base.sass */
form label {
  display: block;
  clear: both;
  float: none;
  width: auto;
}
/* line 289, ../../../app/stylesheets/partials/_formtastic_base.sass */
form input, form textarea {
  width: auto;
}
/* line 294, ../../../app/stylesheets/partials/_formtastic_base.sass */
form select {
  width: auto;
}
/* line 299, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .errors li {
  display: list-item;
}
/* line 302, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .buttons ol {
  padding-left: 0;
  padding-right: 0;
}
/* line 305, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .buttons li {
  float: left;
  width: auto;
  clear: none;
  display: inline;
}
/* line 313, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .buttons input {
  width: auto;
}
/* line 318, ../../../app/stylesheets/partials/_formtastic_base.sass */
form #errorExplanation {
  width: 100%;
}
/* line 320, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .label {
  #left: -0.5em;
  #position: relative;
}
/* line 423, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .radio ol, form .check_boxes ol {
  display: inline;
  float: left;
  clear: none;
}
/* line 425, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .radio li, form .check_boxes li {
  width: auto;
  display: inline;
  float: left;
  clear: none;
}
/* line 428, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .radio input, form .check_boxes input {
  float: none;
  display: inline;
}
/* line 431, ../../../app/stylesheets/partials/_formtastic_base.sass */
form .radio label, form .check_boxes label {
  display: block;
  clear: none;
  width: auto;
  padding-left: 0;
  line-height: 1.4em;
  margin-right: 10px;
}
/* line 6, ../../../app/stylesheets/partials/_skintastic.sass */
form li {
  padding: 5px 0px;
}
/* line 9, ../../../app/stylesheets/partials/_skintastic.sass */
form li li {
  padding: 0;
}
/* line 14, ../../../app/stylesheets/partials/_skintastic.sass */
form fieldset {
  padding: 0;
}
/* line 17, ../../../app/stylesheets/partials/_skintastic.sass */
form li {
  margin: 5px 10px;
}
/* line 19, ../../../app/stylesheets/partials/_skintastic.sass */
form li fieldset {
  padding: 0;
}
/* line 24, ../../../app/stylesheets/partials/_skintastic.sass */
form legend, form label {
  color: #333333;
}
/* line 27, ../../../app/stylesheets/partials/_skintastic.sass */
form label, form .label {
  padding-bottom: 5px;
}
/* line 30, ../../../app/stylesheets/partials/_skintastic.sass */
form label abbr, form .label abbr {
  color: red;
}
/* line 32, ../../../app/stylesheets/partials/_skintastic.sass */
form label {
  margin: 0 4px;
  line-height: 1.4em;
}
/* line 36, ../../../app/stylesheets/partials/_skintastic.sass */
form legend span {
  font-size: 1.4em;
  line-height: 1em;
}
/* line 40, ../../../app/stylesheets/partials/_skintastic.sass */
form legend span.label {
  font-size: 1em;
}
/* line 45, ../../../app/stylesheets/partials/_skintastic.sass */
form select {
  padding: 3px;
}
/* line 47, ../../../app/stylesheets/partials/_skintastic.sass */
form input, form textarea {
  color: #666666;
  font-family: inherit;
  font-size: 14px;
}
/* line 51, ../../../app/stylesheets/partials/_skintastic.sass */
form textarea, form input {
  background: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.15, #f8f8f8), color-stop(1, #c2c2c2));
  background: -moz-linear-gradient(center top, #f8f8f8 15%, #c2c2c2 100%);
  border: 1px solid #979797;
  padding: 2px 5px;
  margin: 4px;
  line-height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 white;
}
/* line 63, ../../../app/stylesheets/partials/_skintastic.sass */
form textarea:focus, form textarea:focus, form input:focus, form input:focus {
  -webkit-box-shadow: 0 0 5px #666666;
  -moz-box-shadow: 0 0 5px #666666;
  box-shadow: 0 0 5px #666666;
}
/* line 67, ../../../app/stylesheets/partials/_skintastic.sass */
form textarea, form input, form .check_boxes {
  width: 480px;
}
/* line 69, ../../../app/stylesheets/partials/_skintastic.sass */
form textarea {
  height: 5em;
}
/* line 75, ../../../app/stylesheets/partials/_skintastic.sass */
form .date li, form .time li, form .datetime li {
  margin: 0 0.3em 0 0;
}
/* line 77, ../../../app/stylesheets/partials/_skintastic.sass */
form .date li label, form .time li label, form .datetime li label {
  display: none;
}
/* line 80, ../../../app/stylesheets/partials/_skintastic.sass */
form .date legend label, form .time legend label, form .datetime legend label {
  display: block;
}
/* line 88, ../../../app/stylesheets/partials/_skintastic.sass */
form #errorExplanation li {
  margin-left: 15px;
}
/* line 90, ../../../app/stylesheets/partials/_skintastic.sass */
form form p, form .errors {
  padding: 3px 0px;
}
/* line 95, ../../../app/stylesheets/partials/_skintastic.sass */
form .error input, form .error textarea, form .error select {
  background-color: #ffcccc;
  border: 1px solid #ff6666;
}
/* line 100, ../../../app/stylesheets/partials/_skintastic.sass */
form .errors {
  color: #aa0000;
}
/* line 102, ../../../app/stylesheets/partials/_skintastic.sass */
form .errors li {
  margin-left: 1.2em;
  list-style-type: disc;
}
/* line 106, ../../../app/stylesheets/partials/_skintastic.sass */
form p.inline-errors {
  color: red;
}
/* line 108, ../../../app/stylesheets/partials/_skintastic.sass */
form p.inline-hints {
  color: #777777;
}
/* line 113, ../../../app/stylesheets/partials/_skintastic.sass */
form .buttons {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
}
/* line 117, ../../../app/stylesheets/partials/_skintastic.sass */
form .buttons li {
  padding-right: 0.5em;
}
/* line 119, ../../../app/stylesheets/partials/_skintastic.sass */
form .buttons input {
  border: 1px solid #999999;
}
/* line 121, ../../../app/stylesheets/partials/_skintastic.sass */
form .remove-child {
  float: right;
  margin: 8px 50px;
}
/* line 124, ../../../app/stylesheets/partials/_skintastic.sass */
form .new-child {
  padding: 0 0 5px 10px;
  margin: 0 0 0 4px;
}
/* line 127, ../../../app/stylesheets/partials/_skintastic.sass */
form h2 {
  color: #3c4756;
  font-family: "AllerLightItalic", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 20px 30px 5px 10px;
  padding: 20px 0 5px 0;
  text-align: center;
  border-top: 1px solid #dfdfdf;
  text-transform: none !important;
  text-shadow: 1px 1px 0 #dfdfdf !important;
}

/* =GENERAL
--------------------- */
/* line 21, ../../../app/stylesheets/screen.scss */
body {
  background-color: #222;
  color: #333;
  font: 14px 'AllerLightRegular', Arial, Helvetica, sans-serif;
}

/* line 27, ../../../app/stylesheets/screen.scss */
h1, h2, h3, h5, h6, .result {
  text-shadow: 1px 1px 0 #dfdfdf;
}

/* line 31, ../../../app/stylesheets/screen.scss */
a {
  color: #0066AA;
  text-decoration: none;
}
/* line 35, ../../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 40, ../../../app/stylesheets/screen.scss */
strong {
  font-weight: 700;
}

/* line 44, ../../../app/stylesheets/screen.scss */
em {
  font-style: italic;
}

/* Clear Fix Hack - add  class="fixed"  to div's that have floated elements in them */
/* line 49, ../../../app/stylesheets/screen.scss */
.fixed:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 57, ../../../app/stylesheets/screen.scss */
.fixed {
  display: block;
  min-height: 1%;
}

/* line 62, ../../../app/stylesheets/screen.scss */
* html .fixed {
  height: 1%;
}

/* line 66, ../../../app/stylesheets/screen.scss */
*:focus {
  outline: none;
  /* Prevents blue border in Webkit */
}

/* =LAYOUT
----------------------------------*/
/* line 73, ../../../app/stylesheets/screen.scss */
#cv {
  margin: 66px auto 0 auto;
  width: 780px;
  padding: 0 0 40px;
}

/* line 79, ../../../app/stylesheets/screen.scss */
.cv-section {
  margin: 0 40px;
  padding: 30px 0;
}

/* line 84, ../../../app/stylesheets/screen.scss */
.first-cv-section {
  margin: 0;
  padding: 30px 40px;
}

/* line 89, ../../../app/stylesheets/screen.scss */
.person {
  float: left;
  width: 500px;
}
/* line 93, ../../../app/stylesheets/screen.scss */
.person h1 {
  margin-top: 25px;
}

/* line 99, ../../../app/stylesheets/screen.scss */
.contact-info {
  float: right;
  margin-right: 10px;
}
/* line 102, ../../../app/stylesheets/screen.scss */
.contact-info table {
  margin-top: 10px;
}
/* line 105, ../../../app/stylesheets/screen.scss */
.contact-info tr {
  line-height: 24px;
}
/* line 108, ../../../app/stylesheets/screen.scss */
.contact-info .limited-width-cell {
  overflow: auto;
  width: 150px;
}

/* line 115, ../../../app/stylesheets/screen.scss */
.social-media {
  margin-bottom: 18px;
}
/* line 117, ../../../app/stylesheets/screen.scss */
.social-media li {
  display: inline;
}

/* line 122, ../../../app/stylesheets/screen.scss */
.cv-section-name {
  float: left;
  clear: left;
  width: 200px;
}
/* line 127, ../../../app/stylesheets/screen.scss */
.cv-section-name img {
  padding: 30px 0;
}

/* line 134, ../../../app/stylesheets/screen.scss */
#skills_summary table caption {
  font-family: 'AllerLightItalic';
  text-align: center;
  margin: 5px 0;
  padding: 5px;
}
/* line 140, ../../../app/stylesheets/screen.scss */
#skills_summary table th, #skills_summary table td {
  padding: 5px;
  border-right: 1px solid #dfdfdf;
}
/* line 143, ../../../app/stylesheets/screen.scss */
#skills_summary table th:last-child, #skills_summary table td:last-child {
  border-right: none;
}
/* line 147, ../../../app/stylesheets/screen.scss */
#skills_summary table thead {
  background-color: #f8f8f8;
}
/* line 149, ../../../app/stylesheets/screen.scss */
#skills_summary table thead th {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  font-family: 'AllerBoldItalic';
}
/* line 155, ../../../app/stylesheets/screen.scss */
#skills_summary table tbody {
  background-color: #ffffff;
}
/* line 157, ../../../app/stylesheets/screen.scss */
#skills_summary table tbody td {
  vertical-align: baseline;
}

/* line 172, ../../../app/stylesheets/screen.scss */
.no-js .location-map-icon,
.no-js .location-map,
.no-js #education_timeline_icon,
.no-js #education_timeline,
.no-js #work_timeline_icon,
.no-js #work_timeline,
.no-js #skills_summary_icon,
.no-js #skills_summary {
  display: none !important;
}

/* line 177, ../../../app/stylesheets/screen.scss */
.cv-section-items {
  float: right;
  margin-right: 10px;
  width: 490px;
}

/* line 184, ../../../app/stylesheets/screen.scss */
ul li {
  list-style-type: none;
}

/* line 189, ../../../app/stylesheets/screen.scss */
.item {
  margin-bottom: 20px;
  padding-bottom: 30px;
}
/* line 193, ../../../app/stylesheets/screen.scss */
.item h3, .item h5 {
  margin: 10px 0;
}
/* line 197, ../../../app/stylesheets/screen.scss */
.item h3 {
  padding: 4px 0;
  clear: left;
}
/* line 202, ../../../app/stylesheets/screen.scss */
.item h4 {
  float: right;
  margin: 0;
  padding: 4px 10px;
}
/* line 208, ../../../app/stylesheets/screen.scss */
.item h5 {
  float: right;
  clear: right;
}
/* line 213, ../../../app/stylesheets/screen.scss */
.item h6 {
  padding: 5px;
  margin: 1px 0 1px 0;
}
/* line 218, ../../../app/stylesheets/screen.scss */
.item p {
  padding: 0 0 15px;
}
/* line 222, ../../../app/stylesheets/screen.scss */
.item ul {
  margin-bottom: 15px;
}
/* line 226, ../../../app/stylesheets/screen.scss */
.item:last-child {
  margin-bottom: 0;
  padding-bottom: 30px;
}
/* line 232, ../../../app/stylesheets/screen.scss */
.item .list li {
  list-style: disc;
}

/* line 239, ../../../app/stylesheets/screen.scss */
.repeater li {
  margin-right: 15px;
  display: inline;
}

/* line 246, ../../../app/stylesheets/screen.scss */
.update-actions,
.move-actions {
  font-size: 10px;
}

/* line 250, ../../../app/stylesheets/screen.scss */
.ui-icon {
  display: inline-block;
}

/* line 260, ../../../app/stylesheets/screen.scss */
#education_timeline,
#work_timeline,
#skills_summary,
.location-map,
.tooltip,
.options-menu,
.options {
  display: none;
}

/* line 269, ../../../app/stylesheets/screen.scss */
#education_timeline,
#work_timeline,
#skills_summary,
.location-map,
.tooltip,
.options {
  padding: 5px;
  background-color: #f8f8f8;
  border-top: 2px solid #fdb020;
  border-bottom: 2px solid #fdb020;
}

/* line 276, ../../../app/stylesheets/screen.scss */
.options-menu > .options {
  display: block;
}

/* line 280, ../../../app/stylesheets/screen.scss */
ul.options {
  text-align: left !important;
}

/* line 290, ../../../app/stylesheets/screen.scss */
.js #education_timeline,
.js #work_timeline,
.js #skills_summary,
.js .location-map,
.js .tooltip,
.js .options {
  margin: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #fdb020;
  -moz-box-shadow: 0 0 15px #fdb020;
  box-shadow: 0 0 15px #fdb020;
}

/* line 302, ../../../app/stylesheets/screen.scss */
.options li {
  list-style-type: none;
  padding: 5px;
}

/* root element for accordion. decorated with rounded borders and gradient background image */
/* line 309, ../../../app/stylesheets/screen.scss */
.accordion {
  /* accordion header */
  /* currently active header */
  /* accordion panel */
}
/* line 311, ../../../app/stylesheets/screen.scss */
.accordion h6 {
  border: 1px solid #dfdfdf;
  cursor: pointer;
}
/* line 317, ../../../app/stylesheets/screen.scss */
.accordion h6.current {
  background-color: #f8f8f8;
  cursor: default;
}
/* line 323, ../../../app/stylesheets/screen.scss */
.accordion .panel {
  border-width: 0 2px;
  display: none;
  padding: 5px;
}
/* line 328, ../../../app/stylesheets/screen.scss */
.accordion .panel li {
  list-style-position: inside !important;
}

/* line 335, ../../../app/stylesheets/screen.scss */
.pager {
  font-size: 16px;
  font-family: 'AllerRegular', sans-serif;
  margin: 30px 0 0 0;
  text-align: center;
  color: #475261;
}
/* line 342, ../../../app/stylesheets/screen.scss */
.pager .disabled {
  color: #dfdfdf;
}
/* line 348, ../../../app/stylesheets/screen.scss */
.pager a,
.pager .disabled,
.pager .current {
  padding: 5px;
  border: 1px solid #dfdfdf;
}
/* line 353, ../../../app/stylesheets/screen.scss */
.pager .current {
  font-weight: 700;
  background-color: #fdb020;
}
/* line 358, ../../../app/stylesheets/screen.scss */
.pager .gap {
  padding: 5px 10px;
}

/* =COLORS-TYPOGRAPHY
----------------------------------*/
/* line 366, ../../../app/stylesheets/screen.scss */
#cv {
  background-color: #FFF;
  border-bottom: 15px solid #FDB020;
  border-top: 15px solid #FDB020;
}

/* line 372, ../../../app/stylesheets/screen.scss */
.cv-section {
  border-bottom: 1px solid #dfdfdf;
}
/* line 375, ../../../app/stylesheets/screen.scss */
.cv-section p {
  text-align: justify;
}

/* line 380, ../../../app/stylesheets/screen.scss */
.first-cv-section {
  background-color: #f8f8f8;
}

/* line 386, ../../../app/stylesheets/screen.scss */
.person h1 {
  color: #475261;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1.4px;
  font-family: 'AllerRegular', sans-serif;
}
/* line 393, ../../../app/stylesheets/screen.scss */
.person h1 a {
  color: #475261;
}
/* line 399, ../../../app/stylesheets/screen.scss */
.person h2 {
  color: #475261;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.7px;
  text-transform: uppercase;
}
/* line 407, ../../../app/stylesheets/screen.scss */
.person h1, .person h2 {
  text-shadow: 1px 1px 0 #fff;
}

/* line 412, ../../../app/stylesheets/screen.scss */
.social-media {
  list-style: none;
}

/* line 416, ../../../app/stylesheets/screen.scss */
.cv-section-name h2 {
  color: #333333;
  font-family: 'AllerLightItalic', sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
}

/* line 424, ../../../app/stylesheets/screen.scss */
.item {
  border-bottom: 1px solid #dfdfdf;
}
/* line 428, ../../../app/stylesheets/screen.scss */
.item h4 {
  background-color: #f8f8f8;
  font-family: 'AllerRegular', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 24px;
}
/* line 436, ../../../app/stylesheets/screen.scss */
.item h4:hover {
  background-color: #333;
  color: #fff;
}
/* line 441, ../../../app/stylesheets/screen.scss */
.item h2 {
  color: #06A;
  font-family: 'AllerRegular', sans-serif;
  font-size: 24px;
  letter-spacing: -1px;
}
/* line 450, ../../../app/stylesheets/screen.scss */
.item h3,
.item h5,
.item .result {
  color: #475261;
  font-family: 'GentiumBookBasicItalic', serif;
  font-size: 20px;
}
/* line 457, ../../../app/stylesheets/screen.scss */
.item h5,
.item .result {
  font-family: 'GentiumBookBasicRegular', serif;
}
/* line 461, ../../../app/stylesheets/screen.scss */
.item h6 {
  color: #06A;
  font-family: 'AllerRegular', sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
}
/* line 468, ../../../app/stylesheets/screen.scss */
.item p {
  text-align: justify;
}
/* line 472, ../../../app/stylesheets/screen.scss */
.item ul {
  text-align: justify;
}
/* line 476, ../../../app/stylesheets/screen.scss */
.item:last-child {
  border-bottom: none;
}

/* line 481, ../../../app/stylesheets/screen.scss */
.last-cv-section {
  border-bottom: none;
}

/* line 486, ../../../app/stylesheets/screen.scss */
.repeater li {
  font-family: 'GentiumBookBasicBoldItalic', serif;
  color: #0066aa;
}

/* line 492, ../../../app/stylesheets/screen.scss */
.handle {
  cursor: move;
}

/* line 498, ../../../app/stylesheets/screen.scss */
.person img {
  float: left;
  margin-left: 4px;
  margin-right: 25px;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #dfdfdf;
}

/* line 511, ../../../app/stylesheets/screen.scss */
.no-js .options,
.no-js .accordion .panel {
  display: block !important;
}
/* line 515, ../../../app/stylesheets/screen.scss */
.no-js .nested-attributes,
.no-js .new-child {
  display: none;
}

/* line 521, ../../../app/stylesheets/screen.scss */
.search,
.authme {
  background-color: #333;
  border: 1px solid #444;
  display: block;
  padding: 12px 15px;
  position: fixed;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
/* line 531, ../../../app/stylesheets/screen.scss */
.search:hover,
.authme:hover {
  background-color: #222;
}
/* line 535, ../../../app/stylesheets/screen.scss */
.search img,
.authme img {
  padding: 0 0 0 5px;
}
/* line 539, ../../../app/stylesheets/screen.scss */
.search a,
.authme a {
  color: #fff;
  text-decoration: none;
}

/* line 546, ../../../app/stylesheets/screen.scss */
.search,
.authme {
  top: 66px;
}

/* line 551, ../../../app/stylesheets/screen.scss */
.authme,
.options {
  left: 0;
}

/* line 555, ../../../app/stylesheets/screen.scss */
.search {
  right: 0;
}

/* line 559, ../../../app/stylesheets/screen.scss */
.spinner {
  bottom: 0;
  display: block;
  position: fixed;
}
/* line 563, ../../../app/stylesheets/screen.scss */
.spinner img {
  padding: 5px;
}

/* line 568, ../../../app/stylesheets/screen.scss */
.hint {
  display: none;
  background-color: #f8f8f8;
  border: 1px solid #dfdfdf;
  padding: 10px;
}

/* line 576, ../../../app/stylesheets/screen.scss */
.no-js .hint {
  display: block !important;
}
/* line 579, ../../../app/stylesheets/screen.scss */
.no-js .spinner {
  display: none;
}

/* line 584, ../../../app/stylesheets/screen.scss */
#flash > div {
  padding: 12px 15px;
}
