.cv-section.fixed
  %h2.cv-section-name Edit person
  .cv-section-items
    = render :partial => 'form', :locals => {:person => @person, :url => person_path(@person, :format => :js)}

    - if permitted_to? :read, @person
      = link_to 'Show', @person
      = link_to 'Back', people_path
