%ul#people= render :partial => 'item', :collection => @people, :locals => {:summarize => true}

- if current_user
  %ul.options
    - if permitted_to? :create, :people
      %li= link_to 'New', new_person_path, :class => 'remote-link', :title => 'New person'

  - content_for :javascript do
    = dynamic_on_ready_tooltip_javascript_for '#people', 'top left'

= will_paginate @people, :class => 'pager', :previous_label => '&#171;', :next_label => '&#187;'
            