%ul#people= render :partial => 'item', :collection => @people, :locals => {:summarize => true}

= will_paginate @people, :class => 'pager', :previous_label => '&#171;', :next_label => '&#187;'
            