%h1 New responsibility
= render :partial => 'form', :locals => {:person => @person, :company => @company,
  :project => @project, :task => @task, :command => 'Create'}
= link_to 'Back', person_company_project_tasks_path(@person, @company, @project)