.cv-section.last-cv-section.fixed
  .cv-section-name
    %h2 New task
  .cv-section-items
    = render :partial => 'form', :locals => {:person => @person, :company => @company, :project => @project, :task => @task}

    - if permitted_to? :read, @person
      = link_to 'Back', @person
