form
  +stack-form
  +float-inputs(10px, 1.4em)
  // <li> Field wrappers
  li
    :padding 5px 0px
    // <li> Check/Radio wrappers
    li
      :padding 0
  //--------------------------------------------------------
  // Fieldsets
  //--------------------------------------------------------
  fieldset
    :padding 0
  // Be sure to override styling for nested fieldsets
  li
    :margin 5px 10px
    fieldset
      :padding 0
  //--------------------------------------------------------
  // Legend & Labels
  //--------------------------------------------------------
  legend, label
    // Set color manually to override IE's stupid rules for legends
    :color #333
  label, .label
    :padding-bottom 5px
    // required * <--styling
    abbr
      :color #f00
  label
    :line-height 1.4em
  legend
    span
      :font-size 1.4em
      // Set lineheight for dumb IE
      :line-height 1em
      &.label
        :font-size 1em
  //--------------------------------------------------------
  // Inputs
  //--------------------------------------------------------
  select
    :padding 3px
  input, textarea, select
    :font-family inherit
    :font-size 14px
  textarea, input
    :border 1px solid #999
    :padding 6px 8px
    :line-height 100%
    :-webkit-border-radius 5px
    :-moz-border-radius 5px
    :border-radius 5px
    :-webkit-transition all 0.5s ease-in-out
    :-moz-transition all 0.5s ease-in-out
    :transition all 0.5s ease-in-out
    &:focus, &:focus
      :border-color #fdb020
      :-webkit-box-shadow 0 0 15px #fdb020
      :-moz-box-shadow 0 0 15px #fdb020
      :box-shadow 0 0 15px #fdb020
      :-webkit-transform scale(1.05)
      :-moz-transform scale(1.05)
      :transform scale(1.05)
  textarea, input, .check_boxes
    :width 90%
  textarea
    :height 5em
  //--------------------------------------------------------
  // Date Time Styling
  //--------------------------------------------------------
  .date, .time, .datetime
    li
      :margin 0 0.3em 0 0
      label
        :display none
    legend
      label
        :display block
  //--------------------------------------------------------
  // Feedback (Requirements, Errors and Hints)
  // Add horizontal margin/padding with care as it can
  // break the layout on floats!
  //--------------------------------------------------------
  #errorExplanation
    li
      :margin-left 15px
  form p, .errors
    :padding 3px 0px
  .required
    input,textarea,select
      :background-color #fff
  .error
    input,textarea,select
      :background-color #fcc
      :border 1px solid #f66
  .optional
    input,textarea,select
      :background-color #fff
  .errors
    :color #a00
    li
      :margin-left 1.2em
  p.inline-errors
    :color #f00
  p.inline-hints
    :color #777
  //--------------------------------------------------------
  // Submit Buttons
  //--------------------------------------------------------
  .buttons
    :padding-top 8px
    :padding-bottom 8px
    :margin-top 8px
    li
      :padding-right 0.5em
    input
      :border 1px solid #999
  .remove-child
    :float right
    :margin 8px 30px
  .new-child
    :padding 0 0 5px 10px
  h2
    :color #3C4756
    :font-family 'AllerLightItalic', sans-serif
    :font-size 24px
    :font-weight 400
    :letter-spacing -1px
    :margin 20px 30px 5px 10px
    :padding 20px 0 5px 0
    :text-align center
    :border-top 1px solid #dfdfdf
