.cv-section.last-cv-section.fixed
  %h2.cv-section-name Edit skill
  .cv-section-items
    = render :partial => 'form', :locals => {:person => @person, :skill => @skill}

    - if permitted_to? :read, @person
      = link_to 'Back', @person
