<h1>Editing skill</h1>

<%= render :partial => 'form', :locals => {:person => @person, :skill => @skill, :command => 'Update'} %>

<%= link_to 'Show', person_skill_path(@person, @skill) %> |
<%= link_to 'Back', person_skills_path(@person) %>