.cv-section.last-cv-section.fixed
  %h2.cv-section-name New skill
  .cv-section-items
    = render :partial => 'form', :locals => {:person => @person, :skill => @skill}

    - if permitted_to? :read, @skill
      = link_to 'Back', person_skills_path(@person)
  