- unless user_signed_in?
  #test_drive.welcome
    %h2 CV/Resum&eacute; generator
    %p
      Effectively communicate your work experience and technical skills to prospective
      clients in a clear and concise format with tools that are quick and easy to use.
    %p
      You need to sign up to make your own CV but you're free to browse and search.
    %p
      If you'd like to take this app for a test drive but don't want to sign up,
      sign in as <b>cv@weblitz.me.uk</b> with <b>secret</b> password.
      This user has created a CV for <b>Homer Simpson</b> (although that can change),
      so you have permission to manage it. Alternatively, feel free to create your own,
      just <b>remember</b> that <em>other users will be able to edit them with these
      credentials too</em>.

