- unless user_signed_in?
  #test_drive.hint
    If you'd like to take this application for a test drive but don't want to sign up,
    log in as <strong>cv@weblitz.me.uk</strong> with <strong>secret</strong> password.
    This user has created a CV for Homer Simpson so you have permissions to manage it.
    Alternatively, feel free to create your own but
    remember that other users will be able to edit them with these credentials.

