// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

@import 'partials/formtastic_base.sass';
@import 'partials/skintastic.sass';

/* =GENERAL
--------------------- */

body {
    background-color: #222;
    color: #333;
    font: 14px 'AllerLightRegular', Arial, Helvetica, sans-serif;
}

a {
    color: #0066AA;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

/* Clear Fix Hack - add  class="fixed"  to div's that have floated elements in them */
.fixed:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.fixed {
    display: block;
    min-height: 1%;
}

* html .fixed {
    height: 1%;
}

*:focus{
    outline:none; /* Prevents blue border in Webkit */
}

/* =LAYOUT
----------------------------------*/

#cv {
    margin: 66px auto 0 auto;
    width: 780px;
    padding: 0 0 40px;

    .cv-section {
        margin: 0 40px;
        padding: 30px 0;
    }

    .first-cv-section {
        margin: 0;
        padding: 30px 40px;
    }

    .person {
        float: left;
        margin-top: 20px;
        width: 500px;
    }

    .person img {
        float: left;
        margin-right: 25px;
        padding: 10px;
    }

    .person h1 {
        margin-top: 25px;
    }

    .contact-info {
        float: right;
        margin-right: 10px;
    }

    .contact-info table {
        margin-top: 10px;
    }
    .contact-info tr {
        line-height: 24px
    }

    .social-media {
        margin-bottom: 18px;
    }

    .social-media li {
        display: inline;
    }

    .cv-section-name {
        float: left;
        width: 200px;
    }

    .cv-section-items {
        float: right;
        margin-right: 10px;
        width: 490px;
    }

    ul {
        li {
            list-style-type: none;
        }
    }

    .item {
        margin-bottom: 20px;
        padding-bottom: 30px;

        h3, h5 {
            margin: 10px 0;
        }

        h3 {
            padding: 4px 0;
            clear: left;
        }

        h4 {
            float: right;
            margin: 0;
            padding: 4px 10px;
        }

        h5 {
            float: right;
            clear: right;
        }

        h6 {
            padding: 5px;
            margin: 1px 0 1px 0;
        }

        p {
            padding: 0 0 15px;
        }

        ul {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 30px;
        }

        .list {
            li {
                list-style: disc;
            }
        }
    }

    .repeater {
        li {
            margin-right: 15px;
            display: inline;
        }
    }

    .move-actions {
        font-size: 10px;
    }
}

.ui-icon {
    display: inline-block;
}

.tooltip,
.options {
    padding: 5px;    
    font-family: 'AllerBold', sans-serif;
    font-size: 16px;
    display: none;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #fdb020;
    -moz-box-shadow: 0 0 10px #fdb020;
    box-shadow: 0 0 10px #fdb020;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(223,223,223,0.8)),
        color-stop(1, rgba(248,248,248,0.8)),
        color-stop(1, rgba(223,223,223,0.8))
    );
    background: -moz-linear-gradient(
        center top,
        rgba(223,223,223,0.8) 0%,
        rgba(248,248,248,0.8) 100%,
        rgba(223,223,223,0.8) 100%
    );
}

.options {
    li {
        list-style-type: none;
        padding: 5px;
    }
}

/* root element for accordion. decorated with rounded borders and gradient background image */
.accordion {
    /* accordion header */
    h6 {
        border: 1px solid #dfdfdf;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    /* currently active header */
    h6.current {
        background-color: #f8f8f8;
        cursor: default;
        &:hover {
            text-decoration: none;
        }
    }

    /* accordion panel */
    .panel {
        border-width: 0 2px;
        display: none;
        padding: 5px;

        li {
            list-style-position: inside !important;
        }
    }

}

.pager {
    font-size: 16px;
    font-family: 'AllerRegular', sans-serif;
    margin: 30px 0 0 0;
    text-align: center;
    color: #475261;

    .disabled {
        color: #dfdfdf;
    }

    a,
    .disabled,
    .current {
        padding: 5px;
        border: 1px solid #dfdfdf;
    }

    .current {
        font-weight: 700;
        background-color: #fdb020;
    }

    .gap {
        padding: 5px 10px;

    }
}
/* =COLORS-TYPOGRAPHY
----------------------------------*/

#cv {
    background-color: #FFF;
    border-bottom: 15px solid #FDB020;
    border-top: 15px solid #FDB020;

    .cv-section {
        border-bottom: 1px solid #dfdfdf;
    }

    .first-cv-section {
        background-color: #F8F8F8;
    }

    .person {

        img {
            background-color: #FFF;
            border: 1px solid #dfdfdf;
        }

        h1 {
            color: #475261;
            font-size: 36px;
            font-weight: 400;
            letter-spacing: -1.4px;
            font-family: 'AllerRegular', sans-serif;

            a {
                text-decoration: none;
                color: #475261;
            }

        }

        h2 {
            color: #475261;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: -.7px;
            text-transform: uppercase;
        }
    }

    .social-media {
        list-style: none;
    }

    h2.cv-section-name {
        color: #333333;
        font-family: 'AllerLightItalic', sans-serif;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .item {

        border-bottom: 1px solid #dfdfdf;

        h4 {
            background-color: #f8f8f8;
            font-family: 'AllerRegular', sans-serif;
            font-size: 10px;
            text-transform: uppercase;
            line-height: 24px;
        }

        h4:hover {
            background-color: #333;
            color: #fff;
        }

        h2 {
            color: #06A;
            font-family: 'AllerRegular', sans-serif;
            font-size: 24px;
            letter-spacing: -1px;
        }

        h3,
        h5,
        .result {
            color: #475261;
            font-family: 'GentiumBookBasicItalic', serif;
            font-size: 20px;
        }

        h5,
        .result {
            font-family: 'GentiumBookBasicRegular', serif;
        }

        h6 {
            color: #06A;
            font-family: 'AllerRegular', sans-serif;
            font-size: 16px;
            letter-spacing: -1px;
        }

        p {
            text-align: justify;
        }

        ul {
            text-align: justify;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .last-cv-section {
        border-bottom: none;
    }

    .repeater {
        li {
            font-family: 'GentiumBookBasicBoldItalic', serif;
            color: #0066aa;
        }
    }

    .handle {
        cursor: move;
    }
}

.authme {
    background-color: #333;
    border: 1px solid #444;
    display: block;
    left: 0;
    padding: 12px 15px;
    top: 66px;
    position: fixed;

    &:hover {
        background-color: #222;
    }

    img {
        padding: 0 0 0 5px;
    }

    a {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
    }
}

