<div class="responsibility">
  <% fields_for prefix(responsibility), responsibility do |f| %>
  <p>
    Responsibility: <%= f.text_area :description %>
    <%= link_to_function 'remove', "$(this).up('.responsibility').remove()" %>
  </p>
  <% end %>
</div>