.cv-section.last-cv-section.fixed
  %h2.cv-section-name New project
  .cv-section-items
    = render :partial => 'form', :locals => {:person => @person, :company => @company, :project => @project}

    - if permitted_to? :read, @project
      = link_to 'Back', person_company_projects_path(@person, @company)
