.cv-section.last-cv-section.fixed
  .cv-section-name
    %h2 Delete company
  .cv-section-items
    - semantic_form_for [@person, @company], :html => { :method => 'delete' } do |f|
      %p Are you sure you want to delete #{@company.name}?
      - f.buttons do
        = f.commit_button 'Yes'

    - if permitted_to? :read, @person
      = link_to 'Back', @person
