<h1>Editing company</h1>

<%= render :partial => 'form', :locals => {:person => @person, :company => @company, :command => 'Update'} %>

<%= link_to 'Show', person_company_path(@person, @company) %> |
<%= link_to 'Back', person_companies_path(@person) %>