.cv-section.last-cv-section.fixed
  %h2.cv-section-name Delete responsibility
  .cv-section-items
    - semantic_form_for [@person, @company, @responsibility], :html => { :method => 'delete' } do |f|
      %p Are you sure you want to delete #{@responsibility.description}?
      - f.buttons do
        = f.commit_button 'Yes'
