.cv-section.last-cv-section.fixed
  .cv-section-name
    %h2 Edit responsibility
  .cv-section-items
    = render :partial => 'form', :locals => {:person => @person, :company => @company, :responsibility => @responsibility}

    - if permitted_to? :read, @person
      = link_to 'Back', @person
