.cv-section.last-cv-section.fixed
  %h2.cv-section-name Edit responsibility
  .cv-section-items
    = render :partial => 'form', :locals => {:person => @person, :company => @company, :responsibility => @responsibility}

    - if permitted_to? :read, @responsibility
      = link_to 'Show', person_company_responsibility_path(@person, @company, @responsibility)
      = link_to 'Back', person_company_responsibilities_path(@person, @company)
