%h1 Editing responsibility
= render :partial => 'form', :locals => {:person => @person, :company => @company,
  :responsibility => @responsibility, :command => 'Update'}
= link_to 'Show', person_company_responsibility_path(@person, @company, @responsibility)
|
= link_to 'Back', person_company_responsibilities_path(@person, @company)