%h1 New responsibility
= render :partial => 'form', :locals => {:person => @person, :company => @company,
  :responsibility => @responsibility}
= link_to 'Back', person_company_responsibilities_path(@person, @company)