<h1>Editing school</h1>

<%= render :partial => 'form', :locals => {:person => @person, :school => @school, :command => 'Update'} %>

<%= link_to 'Show', person_school_path(@person, @school) %> |
<%= link_to 'Back', person_schools_path(@person) %>