.cv-section.fixed
  %h2.cv-section-name Resend confirmation instructions
  .cv-section-items
    - semantic_form_for resource_name, resource, :url => confirmation_path(resource_name) do |f|
      - f.inputs do
        = f.input :email

      - f.buttons do
        = f.commit_button 'Resend confirmation instruction'

= render :partial => 'shared/options'

